
{% extends "base.html" %}
{% load static %}
{% block content %}
	<header class="row tm-welcome-section">
		<h2 class="col-12 text-center tm-section-title">Welcome to Simple House</h2>
		<p class="col-12 text-center">Total 3 HTML pages are included in this template. Header image has a parallax effect. You can feel free to download, edit and use this TemplateMo layout for your commercial or non-commercial websites.</p>
	</header>

	<div class="tm-paging-links">
		<nav>
			<ul>
				<li class="tm-paging-item"><a href="#" class="tm-paging-link active"> Food </a></li>
				<li class="tm-paging-item"><a href="#" class="tm-paging-link"> Beverages </a></li>
				<li class="tm-paging-item"><a href="#" class="tm-paging-link"> Drinks </a></li>
			</ul>
		</nav>
	</div>

	<!-- Gallery -->
	
	<div class="row tm-gallery">
		<!-- gallery page 1 -->
		
		<div id="tm-gallery-page-pizza" class="tm-gallery-page">
			
			<article class="col-lg-3 col-md-4 col-sm-4 col-12 tm-gallery-item">
				<figure>

					<!-- Card -->
					<div class="card booking-card">

						<!-- Card image -->
						<div class="view overlay">
						<img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/8-col/img (5).jpg" alt="Card image cap">
						<a href="#!">
							<div class="mask rgba-white-slight"></div>
						</a>
						</div>
					
						<!-- Card content -->
						<div class="card-body">
					
						<!-- Title -->
						<h4 class="card-title font-weight-bold"><a>La Sirena restaurant</a></h4>
						<!-- Data -->
						<ul class="list-unstyled list-inline rating mb-0">
							<li class="list-inline-item mr-0"><i class="fas fa-star amber-text"> </i></li>
							<li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
							<li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
							<li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
							<li class="list-inline-item"><i class="fas fa-star-half-alt amber-text"></i></li>
							<li class="list-inline-item"><p class="text-muted">4.5 (413)</p></li>
						</ul>
						<p class="mb-2">$ • American, Restaurant</p>
						<!-- Text -->
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<hr class="my-4">
						<p class="lead"><strong>Tonight's availability</strong></p>
						<ul class="list-unstyled list-inline d-flex justify-content-between mb-0">
							<li class="list-inline-item mr-0">
							<div class="chip mr-0">5:30PM</div>
							</li>
							<li class="list-inline-item mr-0">
							<div class="chip deep-purple white-text mr-0">7:30PM</div>
							</li>
							<li class="list-inline-item mr-0">
							<div class="chip mr-0">8:00PM</div>
							</li>
							<li class="list-inline-item mr-0">
							<div class="chip mr-0">9:00PM</div>
							</li>
						</ul>
						<!-- Button -->
						<a href="#" class="btn btn-flat deep-purple-text p-1 mx-0 mb-0">Button</a>
					
						</div>
					
					</div>
					<!-- Card -->
				</figure>
			</article> -->
			
			{% for item in object_list %}
				<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
					
					<figure>
						
						<a href="{{ item.get_absolute_url }}"><img src="{% static 'img/gallery/02.jpg' %}" alt="Image" class="img-fluid tm-gallery-img" /></a>
						<figcaption>
							<h4 class="tm-gallery-title"><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h4>
							<h5>Italian</h5>
							<p class="tm-gallery-description">Nam in suscipit nisi, sit amet consectetur metus. Ut sit amet tellus accumsan</p>
							<span class="badge badge-pill {{ item.get_label_display }}-color">NEW</span>
							<p class="tm-gallery-price">Ksh 
								 {% if item.discount_price %}
									 {{ item.discount_price }}
								 {% else %}
									 {{ item.price }}
								 {% endif %}	 
								 <a href="about.html" id="btn-2" class="tm-btn tm-btn-default-2 tm-right">Add to Cart</a>
							</p>
							
						</figcaption>
					</figure>
					
				</article>

			
			

			<!-- <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">

				<figure>
					<img src="img/gallery/03.jpg" alt="Image" class="img-fluid tm-gallery-img" />
					<figcaption>
						<h4 class="tm-gallery-title">Sed varius turpis</h4>
						<p class="tm-gallery-description">Nam in suscipit nisi, sit amet consectetur metus. Ut sit amet tellus accumsan</p>
						<p class="tm-gallery-price">$30.50</p>
					</figcaption>
				</figure>
			</article>-->

			<!-- <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
				<figure>
					<img src="img/gallery/03.jpg" alt="Image" class="img-fluid tm-gallery-img" />
					<figcaption>
						<h4 class="tm-gallery-title">Quisque et felis eros</h4>
						<p class="tm-gallery-description">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
						<p class="tm-gallery-price">$40.50</p>
					</figcaption>
				</figure>
			</article>  -->

		</div>
		
		
		<!-- gallery page 3 -->

	</div>
	{% endfor %}

	</main>
{% endblock content %}


		