                        <ul class="list-unstyled list-inline d-flex justify-content-between mb-0">
                          <li class="list-inline-item mr-0">
                      <div class="chip mr-0">5:30PM</div>
                          </li>
                          <li class="list-inline-item mr-0">
                      <div class="chip deep-purple white-text mr-0">7:30PM</div>
                          </li>
                          <li class="list-inline-item mr-0">
                      <div class="chip mr-0">8:00PM</div>
                          </li>
                          <li class="list-inline-item mr-0">
                      <div class="chip mr-0">9:00PM</div>
                          </li>
                        </ul> -->
                        <!-- Button -->
                        <!-- <a href="#" class="btn btn-flat deep-purple-text p-1 mx-0 mb-0">Button</a>